@import '../../vendor/livewire/flux/dist/flux.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-none ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

@layer utilities {
    .outline-hidden {
        outline: none;
    }

    .ring-accent {
        --tw-ring-color: theme('colors.accent');
    }

    .ring-offset-accent-foreground {
        --tw-ring-offset-color: theme('colors.accent-foreground');
    }
}
